<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bookmarks</title>
  </head>
  <body>

<form action="/links">
  Username:<br>
  <input type="text" name="username">
  <input type="submit" value="login">
</form>


  </body>
</html>
