<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/tags" method="get">
      Link Tag:<br>
      <input type="text" name="tag_search">
      <input type="submit" value="search">
    </form>
  </body>
</html>
